<div class="container-xxl">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-xxl">
        <a class="navbar-brand" href="#">RecipeBook</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">List</a></li>
                <li><a class="dropdown-item" href="#">Favourite</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Add recipe</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search recipe" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  <section class="container-fluid">
      <div class="container-xxl">
        <div class="row align-items-center">
          <div class="col-sm-8">for cards</div>
          <div class="col-sm-4">
            <div class="w-100"></div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container-fluid">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="footer-top">
                <h4 class="text-xxl-center">Her little secret.</h4>
            </div>
          </div>
          <div class="row">
            <div class="footer-bottom">
              <div class="footer-fifth col-xs-12">
                <strong>
                  <a href="https://www.linkedin.com/in/ilona-fasolia-766991226/">RecipeBook by Ilona Fasolia</a>
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </footer>
  </div>
