<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-xxl">
    <a class="navbar-brand" href="#">RecipeBook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">List</a></li>
            <li><a class="dropdown-item" href="#">Favourite</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Add recipe</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search recipe" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<section class="container-fluid">
  <div class="container-xxl">
    <div class="row align-items-center">
      <div class="col-sm-8">col-8</div>
      <div class="col-sm-4">
        <img class="w-100" src="https://img1.freepng.ru/20190820/sow/transparent-cook-chief-cook-chef-chefs-uniform-gesture-5d6851d7cd6d21.0227223115671177838414.jpg" alt="Shef">
      </div>
    </div>
  </div>
</section>
<footer></footer>
